# Export all names
exportPattern(".")

## S3-methods
S3method("plot", "gev")
S3method("plot", "gpd")
S3method("plot", "gpdbiv")
S3method("plot", "potd")
## Import directives
importFrom("graphics", "abline", "axis", "box", "contour", "lines",
           "mtext", "par", "plot", "points", "title")
importFrom("utils", "menu")
import("stats")
